/* line 1, ../sass/base/_typography.scss */
a {
  color: #42b7fd;
  text-decoration: none;
  -webkit-transition: 0.2s color ease-out;
  -moz-transition: 0.2s color ease-out;
  -ms-transition: 0.2s color ease-out;
  -o-transition: 0.2s color ease-out;
  transition: 0.2s color ease-out;
}
/* line 5, ../sass/base/_typography.scss */
a:hover, a:focus {
  color: #0277bd;
}

/* line 10, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: .5em 0 1em 0;
  color: #112233;
}

/* line 18, ../sass/base/_typography.scss */
h1 {
  font-size: 32px;
  font-size: 2rem;
}
@media only screen and (min-width: 768px) {
  /* line 18, ../sass/base/_typography.scss */
  h1 {
    font-size: 38px;
    font-size: 2.375rem;
  }
}

/* line 25, ../sass/base/_typography.scss */
h2 {
  font-size: 26px;
  font-size: 1.625rem;
}
@media only screen and (min-width: 768px) {
  /* line 25, ../sass/base/_typography.scss */
  h2 {
    font-size: 32px;
    font-size: 2rem;
  }
}

/* line 32, ../sass/base/_typography.scss */
h3 {
  font-size: 22px;
  font-size: 1.375rem;
}
@media only screen and (min-width: 768px) {
  /* line 32, ../sass/base/_typography.scss */
  h3 {
    font-size: 26px;
    font-size: 1.625rem;
  }
}

/* line 39, ../sass/base/_typography.scss */
h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 45, ../sass/base/_typography.scss */
h5 {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 51, ../sass/base/_typography.scss */
h6 {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 500;
  text-transform: uppercase;
}

/* line 57, ../sass/base/_typography.scss */
p {
  line-height: 1.5;
  margin: 0 0 1.5em 0;
}

/* line 63, ../sass/base/_typography.scss */
.pager a {
  color: #6e6e83;
  font-weight: normal;
}
/* line 66, ../sass/base/_typography.scss */
.pager a:hover, .pager a:focus {
  color: #282830;
  border-bottom: 1px dotted;
}
/* line 72, ../sass/base/_typography.scss */
.pager .is-active a {
  color: #282830;
  font-weight: 600;
}

/* line 79, ../sass/base/_typography.scss */
.page-title, .hero-title {
  margin: .5em 0 .5em 0;
}
/* line 81, ../sass/base/_typography.scss */
.page-title:after, .hero-title:after {
  content: '';
  width: 15%;
  height: 2px;
  display: block;
  background-color: #dcdce1;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 86, ../sass/base/_typography.scss */
pre {
  background: #f7f7f9;
  padding: 1.5em;
  border-left: 3px solid #0277bd;
  font-family: "Lucida Console", monospace;
  word-break: break-all;
}

/* line 94, ../sass/base/_typography.scss */
blockquote {
  background: #f7f7f9;
  border-left: 2px solid #0277bd;
  font-style: italic;
  margin: 1.5em 0;
  padding: 0.5em 1em;
}
/* line 100, ../sass/base/_typography.scss */
blockquote:before {
  color: #0277bd;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.2em;
  vertical-align: -0.4em;
}
/* line 108, ../sass/base/_typography.scss */
blockquote:after {
  color: #0277bd;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.45em;
}
/* line 115, ../sass/base/_typography.scss */
blockquote p {
  padding: 0 0 0 1em;
  margin-bottom: .5em;
  font-size: 18px;
  font-size: 1.125rem;
}
/* line 119, ../sass/base/_typography.scss */
blockquote p:last-child {
  margin-bottom: 0;
}

/* line 125, ../sass/base/_typography.scss */
table {
  border: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 2em;
  width: 100%;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 132, ../sass/base/_typography.scss */
table thead th {
  font-weight: 600;
  color: #0277bd;
  text-align: left;
  text-transform: uppercase;
}
/* line 139, ../sass/base/_typography.scss */
table tr {
  background: transparent;
  -webkit-transition: 0.25s background ease-out;
  -moz-transition: 0.25s background ease-out;
  -ms-transition: 0.25s background ease-out;
  -o-transition: 0.25s background ease-out;
  transition: 0.25s background ease-out;
}
/* line 142, ../sass/base/_typography.scss */
table tr th, table tr td {
  border: none;
  border-bottom: 1px solid #ceced6;
  padding: .5em 1em;
}
/* line 150, ../sass/base/_typography.scss */
table tbody tr:hover {
  background: #e9e9ed;
}

/* line 1, ../sass/base/_components.scss */
*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 7, ../sass/base/_components.scss */
body {
  min-height: 100%;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #565668;
  margin: 0;
  line-height: 1.5;
  word-wrap: break-word;
  position: relative;
  background: #ffffff;
  -webkit-transition: 0.25s all ease-out;
  -moz-transition: 0.25s all ease-out;
  -ms-transition: 0.25s all ease-out;
  -o-transition: 0.25s all ease-out;
  transition: 0.25s all ease-out;
}
/* line 18, ../sass/base/_components.scss */
body.off-canvas-active {
  margin-right: 300px;
}
@media screen and (min-width: 480px) {
  /* line 7, ../sass/base/_components.scss */
  body {
    font-size: 16px;
  }
}

/* line 26, ../sass/base/_components.scss */
img {
  max-width: 100%;
}

/* line 30, ../sass/base/_components.scss */
.layout-container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 75em;
}

/* line 36, ../sass/base/_components.scss */
.clearfix {
  *zoom: 1;
}
/* line 38, ../sass/base/_components.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 42, ../sass/base/_components.scss */
.clearfix:after {
  clear: both;
}

/* line 47, ../sass/base/_components.scss */
.row {
  margin: 0;
  padding: 0;
}

/* line 51, ../sass/base/_components.scss */
.col {
  float: none;
  padding: 0 12px;
}
@media only screen and (min-width: 768px) {
  /* line 51, ../sass/base/_components.scss */
  .col {
    float: left;
  }
}

@media screen and (min-width: 768px) {
  /* line 59, ../sass/base/_components.scss */
  .hide-large {
    display: none !important;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  /* line 65, ../sass/base/_components.scss */
  .hide-medium {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  /* line 71, ../sass/base/_components.scss */
  .hide-small {
    display: none !important;
  }
}

@media only screen and (min-width: 768px) {
  /* line 77, ../sass/base/_components.scss */
  .vw-25 {
    width: 25%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 83, ../sass/base/_components.scss */
  .vw-50 {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 89, ../sass/base/_components.scss */
  .vw-75 {
    width: 75%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 95, ../sass/base/_components.scss */
  .vw-33 {
    width: 33.33%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 101, ../sass/base/_components.scss */
  .offset-25 {
    margin-left: 12.5%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 107, ../sass/base/_components.scss */
  .offset-50 {
    margin-left: 25%;
  }
}

@media only screen and (min-width: 768px) {
  /* line 113, ../sass/base/_components.scss */
  .offset-75 {
    margin-left: 32.5%;
  }
}

/* line 119, ../sass/base/_components.scss */
.mv1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 124, ../sass/base/_components.scss */
.mv2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 129, ../sass/base/_components.scss */
.mv3 {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 134, ../sass/base/_components.scss */
.mv4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

/* line 139, ../sass/base/_components.scss */
.mv5 {
  margin-top: 50px;
  margin-bottom: 50px;
}

/* line 144, ../sass/base/_components.scss */
.breadcrumb {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 148, ../sass/base/_components.scss */
.breadcrumb li:before {
  content: '//';
  margin: 0 .75em 0 .5em;
  letter-spacing: -4px;
}
/* line 153, ../sass/base/_components.scss */
.breadcrumb li:last-child {
  color: #a4a4b3;
}

/* line 1, ../sass/layouts/_header.scss */
#header {
  background: #0277bd;
}
/* line 3, ../sass/layouts/_header.scss */
#header a {
  color: #ffffff;
}
/* line 7, ../sass/layouts/_header.scss */
#header .contextual a {
  color: #0277bd;
}

/* line 13, ../sass/layouts/_header.scss */
.page-top {
  background: #112233;
  padding: 10px 0;
}

/* line 19, ../sass/layouts/_header.scss */
.region-top-menu ul {
  margin: 0;
  padding: 0;
}
/* line 22, ../sass/layouts/_header.scss */
.region-top-menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline;
  margin-right: 10px;
}
/* line 28, ../sass/layouts/_header.scss */
.region-top-menu .menu {
  float: right;
}

/* line 33, ../sass/layouts/_header.scss */
.branding {
  min-height: 125px;
  display: table;
  width: 100%;
  color: #ffffff;
}
/* line 47, ../sass/utils/_mixins.scss */
.branding > div {
  display: block;
  position: relative;
}
@media only screen and (min-width: 768px) {
  /* line 47, ../sass/utils/_mixins.scss */
  .branding > div {
    display: table-cell;
    vertical-align: middle;
  }
}
/* line 37, ../sass/layouts/_header.scss */
.branding .site-branding {
  float: none;
  clear: both;
  text-align: center;
  font-size: 12px;
  font-size: 0.75rem;
}
@media only screen and (min-width: 768px) {
  /* line 37, ../sass/layouts/_header.scss */
  .branding .site-branding {
    text-align: left;
    min-width: 10em;
  }
  /* line 45, ../sass/layouts/_header.scss */
  .branding .site-branding .site-logo {
    float: left;
    margin-right: 1em;
  }
  /* line 49, ../sass/layouts/_header.scss */
  .branding .site-branding .site-name {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: 300;
  }
}

/* line 58, ../sass/layouts/_header.scss */
.off-canvas {
  float: right;
}
/* line 60, ../sass/layouts/_header.scss */
.off-canvas #burger-menu {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../pixels/img/hamburger.svg) no-repeat;
  background-size: 20px;
  margin-top: .8em;
}
@media screen and (max-width: 480px) {
  /* line 58, ../sass/layouts/_header.scss */
  .off-canvas {
    display: none;
  }
}

/* line 73, ../sass/layouts/_header.scss */
.push-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 85, ../sass/layouts/_header.scss */
.push-menu .pm-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
/* line 97, ../sass/layouts/_header.scss */
.push-menu .pm-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid #e3e3e3;
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: 0.25s all ease-out;
  -moz-transition: 0.25s all ease-out;
  -ms-transition: 0.25s all ease-out;
  -o-transition: 0.25s all ease-out;
  transition: 0.25s all ease-out;
}
/* line 109, ../sass/layouts/_header.scss */
.push-menu .pm-container .pm-wrap {
  margin: 44px;
  margin-bottom: 35px;
  padding-top: 60px;
  position: relative;
}
/* line 114, ../sass/layouts/_header.scss */
.push-menu .pm-container .pm-wrap .close-menu {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
}
/* line 121, ../sass/layouts/_header.scss */
.push-menu .pm-container .pm-wrap .close-menu:before {
  transform: rotate(-45deg);
}
/* line 124, ../sass/layouts/_header.scss */
.push-menu .pm-container .pm-wrap .close-menu:after {
  transform: rotate(45deg);
}
/* line 127, ../sass/layouts/_header.scss */
.push-menu .pm-container .pm-wrap .close-menu:before, .push-menu .pm-container .pm-wrap .close-menu:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: #000;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
}
/* line 140, ../sass/layouts/_header.scss */
.push-menu .pm-container .pm-wrap ul li {
  display: block;
  float: none;
  clear: both;
}
/* line 148, ../sass/layouts/_header.scss */
.push-menu.show-pm {
  visibility: visible;
  opacity: 1;
}
/* line 151, ../sass/layouts/_header.scss */
.push-menu.show-pm .pm-overlay {
  opacity: 1;
}
/* line 154, ../sass/layouts/_header.scss */
.push-menu.show-pm .pm-container {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}
/* line 160, ../sass/layouts/_header.scss */
.push-menu .dropdown-menu {
  position: static;
  float: none;
  width: auto;
  margin-top: 0;
  background-color: transparent;
  border: 0;
  box-shadow: none;
}

/* line 1, ../sass/layouts/_footer.scss */
#footer {
  padding-top: 1em;
  border-top: 1px solid #99bbdd;
}
/* line 4, ../sass/layouts/_footer.scss */
#footer .footer-top > div {
  margin-bottom: 1.2em;
}
/* line 7, ../sass/layouts/_footer.scss */
#footer .footer-bottom {
  padding: 10px;
  background: #99bbdd;
}

/* line 1, ../sass/layouts/_forms.scss */
.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  background: #0277bd;
  border: 1px solid #0277bd;
  box-shadow: none;
  color: #ffffff;
  padding: .5em;
  text-transform: uppercase;
}
/* line 11, ../sass/layouts/_forms.scss */
.button:focus {
  outline: none;
}

/* line 17, ../sass/layouts/_forms.scss */
.block-search input[type="search"] {
  border: none;
  border-bottom: 1px solid #112233;
  width: 80%;
}
/* line 21, ../sass/layouts/_forms.scss */
.block-search input[type="search"]:focus {
  outline: none;
}
/* line 25, ../sass/layouts/_forms.scss */
.block-search .button {
  text-indent: -9999px;
  border: none;
  background: url(../../pixels/img/search.svg) no-repeat 5px;
  width: 25px;
  height: 25px;
}

/* line 35, ../sass/layouts/_forms.scss */
.toggle-options .form-item {
  display: inline-block;
}
/* line 38, ../sass/layouts/_forms.scss */
.toggle-options input[type=radio], .toggle-options input[type=checkbox] {
  display: none;
  margin: 10px;
}
/* line 41, ../sass/layouts/_forms.scss */
.toggle-options input[type=radio] + label, .toggle-options input[type=checkbox] + label {
  display: inline-block;
  margin: -2px;
  padding: 4px 12px;
  background-color: #5bc0fd;
  border-color: #ddd;
  -webkit-transition: 0.25s all ease-out;
  -moz-transition: 0.25s all ease-out;
  -ms-transition: 0.25s all ease-out;
  -o-transition: 0.25s all ease-out;
  transition: 0.25s all ease-out;
  color: #ffffff;
  cursor: pointer;
}
/* line 51, ../sass/layouts/_forms.scss */
.toggle-options input[type=radio]:checked + label, .toggle-options input[type=checkbox]:checked + label {
  background-image: none;
  background-color: #0fa4fc;
}

/* line 1, ../sass/layouts/_navigations.scss */
.main-navigation {
  background: #0284d1;
}
/* line 3, ../sass/layouts/_navigations.scss */
.main-navigation .navigation-wrapper {
  float: left;
}
/* line 7, ../sass/layouts/_navigations.scss */
.main-navigation .menu li {
  display: inline;
  background: #0284d1;
}
/* line 10, ../sass/layouts/_navigations.scss */
.main-navigation .menu li a {
  display: block;
  padding: 15px;
  font-size: .9em;
  text-transform: uppercase;
  -webkit-transition: 0.5s background ease-out;
  -moz-transition: 0.5s background ease-out;
  -ms-transition: 0.5s background ease-out;
  -o-transition: 0.5s background ease-out;
  transition: 0.5s background ease-out;
}
/* line 16, ../sass/layouts/_navigations.scss */
.main-navigation .menu li a.is-active {
  background: #0fa4fc;
  color: #ffffff;
}
/* line 21, ../sass/layouts/_navigations.scss */
.main-navigation .menu li:hover {
  background: #ffffff;
}
/* line 23, ../sass/layouts/_navigations.scss */
.main-navigation .menu li:hover > a {
  color: #316293 !important;
}
/* line 28, ../sass/layouts/_navigations.scss */
.main-navigation .menu li.menu-item--expanded a {
  padding-right: 25px;
}
/* line 31, ../sass/layouts/_navigations.scss */
.main-navigation .menu li.menu-item--expanded a .sf-sub-indicator:after {
  font-size: 8px;
  font-size: 0.5rem;
  top: 30%;
  left: 30%;
}
/* line 40, ../sass/layouts/_navigations.scss */
.main-navigation .menu.sub-menu[data-menu-level="1"] {
  margin-top: 4px;
  margin-left: -1px;
}
/* line 44, ../sass/layouts/_navigations.scss */
.main-navigation .menu.sub-menu {
  border: 1px solid #eee;
  border-top: none;
  box-sizing: content-box;
}
/* line 48, ../sass/layouts/_navigations.scss */
.main-navigation .menu.sub-menu .menu-item {
  background: #ffffff;
}
/* line 50, ../sass/layouts/_navigations.scss */
.main-navigation .menu.sub-menu .menu-item a {
  color: #316293 !important;
  margin-left: 0;
  -webkit-transition: 0.25s margin ease-out;
  -moz-transition: 0.25s margin ease-out;
  -ms-transition: 0.25s margin ease-out;
  -o-transition: 0.25s margin ease-out;
  transition: 0.25s margin ease-out;
}
/* line 54, ../sass/layouts/_navigations.scss */
.main-navigation .menu.sub-menu .menu-item a:hover {
  margin-left: 5px;
}
/* line 57, ../sass/layouts/_navigations.scss */
.main-navigation .menu.sub-menu .menu-item a:after {
  display: none;
}
/* line 67, ../sass/layouts/_navigations.scss */
.main-navigation .sf-menu-wrapper {
  display: table;
  min-height: 40px;
  position: relative;
  width: 100%;
}
/* line 72, ../sass/layouts/_navigations.scss */
.main-navigation .sf-menu-wrapper #hamburger {
  display: block;
  vertical-align: middle;
  background: url(../../pixels/img/hamburger.svg) no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-top: .6em;
}
/* line 82, ../sass/layouts/_navigations.scss */
.main-navigation .sf-menu-wrapper #close {
  display: none;
  vertical-align: middle;
  background: url(../../pixels/img/ex.svg) no-repeat;
  background-size: contain;
  width: 22px;
  height: 22px;
  cursor: pointer;
  margin-top: .6em;
  margin-bottom: 1.2em;
}
/* line 94, ../sass/layouts/_navigations.scss */
.main-navigation .sf-menu-wrapper .sf-menu.mobile-active {
  display: block !important;
  min-width: 80% !important;
}
/* line 97, ../sass/layouts/_navigations.scss */
.main-navigation .sf-menu-wrapper .sf-menu.mobile-active .menu-item {
  display: block;
  float: none;
  clear: both;
}
/* line 101, ../sass/layouts/_navigations.scss */
.main-navigation .sf-menu-wrapper .sf-menu.mobile-active .menu-item .mobnav-subarrow {
  display: block;
  background-color: #0f3975;
  opacity: 0;
  height: 100%;
  width: 3em;
  position: absolute;
  top: 0;
  right: .1em;
  cursor: pointer;
}
/* line 112, ../sass/layouts/_navigations.scss */
.main-navigation .sf-menu-wrapper .sf-menu.mobile-active .menu-item ul {
  display: none !important;
  position: static !important;
  width: 100%;
  margin: 0;
  border: none;
}
/* line 120, ../sass/layouts/_navigations.scss */
.main-navigation .sf-menu-wrapper .sf-menu.mobile-active .menu-item.xpopdrop ul {
  display: block !important;
}

/* line 2, ../sass/layouts/_sections.scss */
ul.menu {
  list-style: none outside;
  margin: 0;
  padding: 0;
}
/* line 6, ../sass/layouts/_sections.scss */
ul.menu li a {
  padding: 10px 0;
}

/* line 13, ../sass/layouts/_sections.scss */
.featured {
  min-height: 180px;
  display: table;
  width: 100%;
}
/* line 47, ../sass/utils/_mixins.scss */
.featured > div {
  display: block;
  position: relative;
}
@media only screen and (min-width: 768px) {
  /* line 47, ../sass/utils/_mixins.scss */
  .featured > div {
    display: table-cell;
    vertical-align: middle;
  }
}

/* line 18, ../sass/layouts/_sections.scss */
.block-local-tasks-block {
  margin-bottom: 1em;
  text-align: right;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 10px 0 5px;
}

/* line 27, ../sass/layouts/_sections.scss */
figure.align-left, img.align-left {
  margin: 0 1.2em 1.2em 0 !important;
}
/* line 30, ../sass/layouts/_sections.scss */
figure.align-right, img.align-right {
  margin: 0 0 1.2em 1.2em !important;
}
/* line 33, ../sass/layouts/_sections.scss */
figure.align-center, img.align-center {
  margin: 1.2em 0 !important;
}
/* line 36, ../sass/layouts/_sections.scss */
figure figcaption, img figcaption {
  font-size: 10px;
  font-size: 0.625rem;
  text-align: right;
  color: #4d88c4;
}

/* line 43, ../sass/layouts/_sections.scss */
.back-to-top {
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 20px;
  right: 10px;
  font-size: 0;
  background: url("../../pixels/img/back-to-top.svg") no-repeat;
  background-size: 25px;
  display: none;
}
@media (min-width: 768px) {
  /* line 43, ../sass/layouts/_sections.scss */
  .back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 32px;
    right: 16px;
    background-size: 40px;
  }
}

/* line 2, ../sass/layouts/_sidebar.scss */
aside .block {
  margin-bottom: 25px;
  padding: 20px;
  border: 1px solid #ceced6;
}
/* line 6, ../sass/layouts/_sidebar.scss */
aside .block h2, aside .block .block-title {
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
  margin: 0 0 .5em;
}
/* line 10, ../sass/layouts/_sidebar.scss */
aside .block h2:after, aside .block .block-title:after {
  content: '';
  width: 15%;
  height: 2px;
  display: block;
  background-color: #dcdce1;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* line 1, ../sass/pages/_comments.scss */
.comment-wrapper {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #e9e9ed;
}

/* line 7, ../sass/pages/_comments.scss */
.comment {
  margin-bottom: 19px;
  vertical-align: top;
  display: table;
}
/* line 11, ../sass/pages/_comments.scss */
.comment .avatar {
  float: left;
  width: 3em;
  margin-right: 1em;
}
@media only screen and (min-width: 768px) {
  /* line 11, ../sass/pages/_comments.scss */
  .comment .avatar {
    width: inherit;
  }
}
/* line 18, ../sass/pages/_comments.scss */
.comment .avatar img {
  height: auto;
  border-radius: 10px;
}
/* line 23, ../sass/pages/_comments.scss */
.comment .comment-body {
  margin-left: 4em;
}
@media only screen and (min-width: 768px) {
  /* line 23, ../sass/pages/_comments.scss */
  .comment .comment-body {
    margin-left: 5.5em;
  }
}
/* line 30, ../sass/pages/_comments.scss */
.comment .comment__meta .comment__author {
  display: inline-block;
}
/* line 33, ../sass/pages/_comments.scss */
.comment .comment__meta .comment__permalink {
  float: right;
  font-size: 0;
  background: url("../../pixels/img/permalink.svg") no-repeat;
  background-size: 15px;
}
/* line 38, ../sass/pages/_comments.scss */
.comment .comment__meta .comment__permalink a {
  display: inline-block;
  width: 15px;
  height: 15px;
}
/* line 45, ../sass/pages/_comments.scss */
.comment .comment__content {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 47, ../sass/pages/_comments.scss */
.comment .comment__content h4 {
  margin: .5em 0;
}
/* line 51, ../sass/pages/_comments.scss */
.comment .comment__footer {
  font-size: 12px;
  font-size: 0.75rem;
}
/* line 53, ../sass/pages/_comments.scss */
.comment .comment__footer .comment__time {
  font-style: oblique;
  color: #a4a4b3;
  margin-right: 1.5em;
}

/* line 61, ../sass/pages/_comments.scss */
.indented {
  padding: 0 0 0 1em;
  border-left: 1px solid #e9e9ed;
}
@media only screen and (min-width: 768px) {
  /* line 61, ../sass/pages/_comments.scss */
  .indented {
    padding: 0 0 0 2em;
  }
}

/* line 3, ../sass/pages/_node.scss */
article.node.node--view-mode-teaser {
  border-bottom: 1px solid #acc8e3;
  padding-bottom: 1em;
  margin-bottom: 2.5em;
}
/* line 7, ../sass/pages/_node.scss */
article.node.node--view-mode-teaser .node__meta {
  margin: 0;
  padding: 0;
}
/* line 11, ../sass/pages/_node.scss */
article.node .node__meta {
  font-size: 12px;
  font-size: 0.75rem;
  font-style: oblique;
  color: #88889c;
  margin-bottom: 1em;
  position: relative;
}
/* line 17, ../sass/pages/_node.scss */
article.node .node__meta .profile {
  text-align: right;
  display: inline-block;
  vertical-align: top;
  float: right;
}
@media only screen and (min-width: 768px) {
  /* line 17, ../sass/pages/_node.scss */
  article.node .node__meta .profile {
    float: left;
    margin: 0 1.5em .5em 0;
  }
}
/* line 28, ../sass/pages/_node.scss */
article.node .node__title {
  margin: 0 0 .8em 0;
}
/* line 32, ../sass/pages/_node.scss */
article.node .node__content .field--name-field-image {
  float: none;
  clear: both;
  margin: 0;
}
@media only screen and (min-width: 768px) {
  /* line 32, ../sass/pages/_node.scss */
  article.node .node__content .field--name-field-image {
    float: right;
    margin: 0 0 .8em .8em;
  }
}
/* line 42, ../sass/pages/_node.scss */
article.node .node__content .field--name-field-tags {
  font-size: 14px;
  font-size: 0.875rem;
}
/* line 44, ../sass/pages/_node.scss */
article.node .node__content .field--name-field-tags .field__label {
  font-weight: normal;
}
/* line 47, ../sass/pages/_node.scss */
article.node .node__content .field--name-field-tags .field__items {
  display: table;
  width: 100%;
  width: auto;
}
/* line 47, ../sass/utils/_mixins.scss */
article.node .node__content .field--name-field-tags .field__items > div {
  display: block;
  position: relative;
}
@media only screen and (min-width: 768px) {
  /* line 47, ../sass/utils/_mixins.scss */
  article.node .node__content .field--name-field-tags .field__items > div {
    display: table-cell;
    vertical-align: middle;
  }
}
/* line 50, ../sass/pages/_node.scss */
article.node .node__content .field--name-field-tags .field__items a {
  margin-right: 1em;
}
/* line 55, ../sass/pages/_node.scss */
article.node .node__content .node__links {
  font-size: 12px;
  font-size: 0.75rem;
  text-align: right;
}
/* line 61, ../sass/pages/_node.scss */
article.node .node__content figure {
  margin: 0;
}
