.comment-wrapper {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid lighten($text, 75%);
}

.comment {
  margin-bottom: 19px;
  vertical-align: top;
  display: table;
  .avatar {
    float: left;
    width: 3em;
    margin-right: 1em;
    @include bp-medium {
      width: inherit;
    }
    img {
      height: auto;
      border-radius: 10px;
    }
  }
  .comment-body {
    margin-left: 4em;
    @include bp-medium {
      margin-left: 5.5em;
    }
  }
  .comment__meta {
    .comment__author {
      display: inline-block;
    }
    .comment__permalink {
      float: right;
      font-size: 0;
      background: url("../../pixels/img/permalink.svg") no-repeat;
      background-size: 15px;
      a {
        display: inline-block;
        width: 15px;
        height: 15px;
      }
    }
  }
  .comment__content {
    @include font-size(14px);
    h4 {
      margin: .5em 0;
    }
  }
  .comment__footer {
    @include font-size(12px);
    .comment__time {
      font-style: oblique;
      color: lighten($text, 50%);
      margin-right: 1.5em;
    }
  }
}

.indented {
  padding: 0 0 0 1em;
  border-left: 1px solid lighten($text, 75%);
  @include bp-medium {
    padding: 0 0 0 2em;
  }
}