#footer {
  padding-top: 1em;
  border-top: 1px solid lighten($heading, 60%);
  .footer-top > div {
    margin-bottom: 1.2em;
  }
  .footer-bottom {
    padding: 10px;
    background: lighten($heading, 60%);
  }
}