.button {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  @include font-size(12px);
  font-weight: 600;
  background: $primary;
  border: 1px solid $primary;
  box-shadow: none;
  color: $background;
  padding: .5em;
  text-transform: uppercase;
  &:focus {
    outline: none;
  }
}

.block-search {
  input[type="search"] {
    border: none;
    border-bottom: 1px solid $heading;
    width: 80%;
    &:focus {
      outline: none;
    }
  }
  .button {
    text-indent: -9999px;
    border: none;
    background: url(../../pixels/img/search.svg) no-repeat 5px;
    width: 25px;
    height: 25px;
  }
}

.toggle-options {
  .form-item {
    display: inline-block;
  }
  input[type=radio], input[type=checkbox]{
    display: none;
    margin: 10px;
    + label {
      display: inline-block;
      margin: -2px;
      padding: 4px 12px;
      background-color: lighten($primary, 30%);
      border-color: #ddd;
      @include transition(.25s, all);
      color: $background;
      cursor: pointer;
    }
    &:checked + label {
      background-image: none;
      background-color: lighten($primary, 15%);
    }
  }
}