ul {
  &.menu {
    list-style: none outside;
    @include zero;
    li {
      a {
        padding: 10px 0;
      }
    }
  }
}

.featured {
  min-height: 180px;
  @include display-table;
}

.block-local-tasks-block {
  margin-bottom: 1em;
  text-align: right;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  padding: 10px 0 5px;
}

figure, img {
  &.align-left {
    margin: 0 1.2em 1.2em 0 !important;
  }
  &.align-right {
    margin: 0 0 1.2em 1.2em !important;
  }
  &.align-center {
    margin: 1.2em 0 !important;
  }
  figcaption {
    @include font-size(10px);
    text-align: right;
    color: lighten($heading, 40%);
  }
}

.back-to-top{
  position: absolute;
  width: 25px;
  height: 25px;
  bottom: 20px;
  right: 10px;
  font-size: 0;
  background: url("../../pixels/img/back-to-top.svg") no-repeat;
  background-size: 25px;
  display: none;
  @media (min-width: $screen-medium){
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 32px;
    right: 16px;
    background-size: 40px;
  }
}
