aside {
  .block {
    margin-bottom: 25px;
    padding: 20px;
    border: 1px solid lighten($text, 65%);
    h2, .block-title {
      @include font-size(18px);
      text-transform: uppercase;
      margin: 0 0 .5em;
      &:after {
        @include heading-border;
      }
    }
  }
}